.password-reset-request, .password-reset {
    min-height: 75vh;
    background-image: url("/public/images/safe6.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 380px;
    flex-direction: column;
    font-family: 'Lexend';
    z-index: 999;
}

.password-reset-request .form-group, .password-reset .form-group {
    flex-direction: column;
    margin-bottom: 20px;
}


.password-reset-request .popup {
    margin-top: 20px;
}

.password-request-form, .password-reset-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.success{
    margin: 10px;
    color: rgb(57, 102, 5);
    font-size: large;
}