/* | MAP STYLE | */

.map-card {
  margin: 2vw 4vw;
  background: var(--white);
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 40vh;
}

.map-card div {
  width: 100%;
}

.bank-marker {
  width: 5vh;
  height: auto;
}

/* | @MEDIA QUERIES | */

/* @media screen and (max-width: 800px) {
  .map-card {
    width: 75vw;
  }
} */

@media screen and (max-width: 471px) {
  .map-card {
    width: 90%;
    margin: 2.5vw;
  }
}
